#banner {
    padding: 25px 35px 25px 35px;
    height: 500px;
    background: url("/static/img/background2.svg");
}

#banner .illustration {
    height: 400px;
    width: auto;
}

#banner .form-box {
    margin-top: 80px;
}

.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}