{{template "base" .}}

{{define "title"}} Umap | Home {{end}}

{{define "main"}}

    <section id="banner" class="item-center">
        <div>
            <h1 class="title is-2">
                Enter a long URL to make it shorter
            </h1>

            <form class="item-center" action="/shorten" method="post" onsubmit="validateUrl()">
                <div>
                    <div class="field has-addons"> 
                        <div class="control">
                            <input type="text" id="urlField" name="url" class="input is-primary is-large" onchange="resetError()" placeholder="https://yoururl.com/" />
                        </div>

                        <div class="control"> 
                            <input type="submit" class="button is-primary is-large" value="Shorten" />
                        </div>
                    </div>

                    <span class="has-text-danger" id="urlFieldError"> </span>
                </div>
            </form>
        
        </div>
    </section>

    <section id="features">
        
    </section>

    <script src="/static/js/utils.js"> </script>
{{end}}