{{template "base" .}}

{{define "title"}} Umap | Result {{end}}

{{define "main"}}

<section id="result" class="item-center">
    <div>
        <h1 class="title is-2">Your shortened URL</h1>
        <div class="card">
            <div class="card-content">
                <form>
                    <div class="field has-addons">
                        <div class="control is-expanded"> 
                            <input type="text" class="input is-primary is-medium is-fullwidth" />
                        </div>
                        <div class="control">
                            <input type="button" class="button is-primary is-medium" value="Copy URL" />
                        </div>
                    </div>
                </form>

                <br />
                <span>Initial url: <a href="#">Initial url</a> </span> <br />
                <span>View statistic from shortened URL </span>
            </div>
        </div>

        <br />
        <div>
            <h2 class="title is-3">Share URL</h2>
            <a href="#" class="button is-link"><i class="fa fa-facebook"> </i>&ensp;Facebook</a>
            <a href="#" class="button is-info"><i class="fa fa-twitter"></i>&ensp;Twitter</a>
            <a href="#" class="button is-success"><i class="fa fa-whatsapp"></i>&ensp;Whatsapp</a>
            <a href="#" class="button is-info"><i class="fa fa-telegram"></i>&ensp;Telegram</a>
            <a href="#" class="button is-danger"><i class="fa fa-pinterest"></i>&ensp;Pinterest</a>
        </div>
    </div>
</section>

{{end}}